header{
    background-color: #D7EDFF;
    margin-top: 0;
}
.header-logo{
    font-family: 'Sofia';
    text-decoration: 'none';
    color: #003D52;
    text-align: center;
    margin-top: 0;
}

.header-link {
    text-decoration: none;  
    margin-top: 0;
}
.nav{
    text-decoration: none;
}
.nav-ul{
    text-decoration: none;
}

.link{
    text-decoration: none;
}